<section class="NKxWWLxzmB d-flex align-items-center" style="padding-top: 4rem;padding-bottom: 4rem;">
  <div class="container" style="background-color: #f7f7f7; border-radius: 6px;">
    <div class="row">
      <div class="col-12">
        <div class="text-center" >
          <p class="lead text-dark text-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-2">
          <a routerLink="login" class="btn btn-outline-dark mr-2" style="background-color: white;">Oturum Aç</a>
          <a routerLink="register" class="btn btn-dark" href="#">Kayıt Ol</a>
        </div>
      </div>
    </div>
  </div>
</section>