

<app-navbar></app-navbar>
<div id="userInfos">
  <div class="container">
      <div id="userInfos-row" class="row justify-content-center align-items-center">
          <div id="userInfos-column"  class="col-md-6">
              <div id="userInfos-box" class="col-md-12">
                  <form [formGroup]="userPasswordUpdateForm" id="userInfos-form">
                      <h3 class="text-center text-dark text-monospace" >Update Password</h3>
                      <div class="form-group">
                        <label for="firstName" class="text-dark text-monospace">Current Password</label><br>
                        <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"/>
                    </div>
                    <div class="form-group">
                      <label for="lastName" class="text-dark text-monospace">New Password</label><br>
                      <input type="password" id="newPassword" formControlName="newPassword" class="form-control"/>
                  </div>
                      <div class="form-group">
                          <button routerLink="" (click)="updateUserPassword()" type="submit" name="submit" class="w-100 btn btn-dark btn-md text-monospace" style="background-color: #353b48; border-radius: 25px;">Update</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>