#register {
    margin: 0;
    padding: 0;
    background-color: #353b48;;
    height: 100vh;
  }
    #register .container #register-row #register-column #register-box {
      margin-top: 200px;
      max-width: 700px;
      height: 520px;
      border: 1px solid #9C9C9C;
      border-radius: 10px;
      background-color: #EAEAEA;
    }
    #register .container #register-row #register-column #register-box #register-form {
      padding: 20px;
    }
    #register .container #register-row #register-column #register-box #register-form #register-link {
      margin-top: -85px;
    }

    #register {
      height: 100%;
      font-family: "Montserrat", sans-serif;
    }
    
    #register{
      background:url(background.jpg) no-repeat center ;
      height: 939px;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }