#userInfos {
    margin: 0;
    padding: 0;
    background-color: #353b48;;
    height: 100vh;
  }
    #userInfos .container #userInfos-row #userInfos-column #userInfos-box {
      margin-top: 200px;
      max-width: 700px;
      height: 420px;
      border: 1px solid #9C9C9C;
      border-radius: 10px;
      background-color: #EAEAEA;
    }
    #userInfos .container #userInfos-row #userInfos-column #userInfos-box #userInfos-form {
      padding: 20px;
    }
    #userInfos .container #userInfos-row #userInfos-column #userInfos-box #regiuserInfosster-form #userInfos-link {
      margin-top: -85px;
    }

    #userInfos {
      height: 100%;
      font-family: "Montserrat", sans-serif;
    }
    
    #userInfos{
      background:url(update.jpg) no-repeat center ;
      height: 939px;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }