<section id="cover" class="y1SFajIn5T d-flex align-items-center" style="padding-top: 6rem;padding-bottom: 6rem;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
          <h1 class="header-first-title wow fadeInUp ">Welcome to Our Studio</h1>
      </div>
      <div class="col-md-12">
          <h1 class="header-second-title wow zoomIn">IT'S NICE TO MEET YOU</h1>
      </div>
      <div class="col-md-12">
          <a routerLink="books" class="btn btn-lg header-btn btn1 wow fadeInDown">TEEL ME MORE</a>
      </div>
  </div>
  </div>
</section>