
<app-navbar></app-navbar>
<section id="author" style="padding-top: 4rem;padding-bottom: 4rem;">
  <div class="container">
        <div class="row">
          <div *ngFor="let author of authors" class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div  class="card border-0 rounded-0" style="width: 100%;margin-bottom: 1rem;">
              <app-author-image [id]="author.id"></app-author-image>
              <div class="card-body">
                <h5 class="card-title text-center">
                  <a routerLink="authordetail/{{author.id}}" class="text-reset stretched-link text-monospace">{{author.authorName}}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<app-footer></app-footer>