a.nav-link:hover{
	color:white !important;
}
.NKxWWLxzmB {
	background-color: rgba(0, 0, 0, .9);
}
.xrBK8FN3Sd {
	border-color: #343a40;
}
.btn:hover{
	background-color: #fed136 !important;
}
#cartDetail{
    background-color: #f7f7f7;
}